#notifications

%header#header
  .backgroundContainer
    .background
      = yield(:story_controls)
      .center
        %a.logo{:href => '/'}
        .communities.hidden
          = render partial: 'shared/communities_header'
        .search.hidden
          %input{ :type => 'text', :placeholder => 'enter some keywords here to search..'}
          %button{ :value => 'Search'} Search


  .content
    .menu
      %ul
        %li
          %a{ href: recent_path } Recent
        %li
          %a{ href: popular_path } Popular
        %li
          %a#communities{ href: '#' } Communities
        / %li
        /   %a#search{ href: '# '} Search
        %li
          %a{ href: '/my_brwnppl'} my Brwnppl
        - if current_user
          %li
            %a{ href: "/#{current_user.username}"} Me

    - if params[:controller] != 'story_viewer'
      .userOptions
        - if logged_in?
          %a
            = link_to current_user.username, '/' + current_user.username
          %a 
            = link_to 'Logout', logout_path
          / %a.icon.plus.floatRight
          / %a.icon.user.floatRight
          .clear
        - else
          %a.loginButton{ :href => '/oauth/facebook' }
            %img{ :src => '/assets/facebookIcon.png', :width => '8', :height => '17', :alt => 'Login with Facebook'}
            Login With Facebook


= yield(:comments_dropdown)