:javascript
  $(document).ready(function() {
    height  = window.innerHeight;
    width   = window.innerWidth;
    $('iframe').height(height);
    $('iframe').width(width);
    $('iframe').css('margin-top', '72px');

  });

%iframe{:src => @story.url, 'data-story-id' => @story.id}

= render partial: 'shared/templates/single_comment'

= content_for(:story_controls) do
  - if params[:controller] == 'story_viewer'
    .storyControls{ :style => 'float: left'}
      %ul#storyControls{ :'data-story-id' => @story.id }
        %li.thumb_up{ :title => "#{already_liked(current_user, @story)}"}
          %img{:src => '/assets/like-x-g.png', :width => '40px', :height => '40px'}
        %li.thumb_down{ :title => "#{already_downvoted(current_user, @story)}"}
          %img{:src => '/assets/downvote-x-g.png', :width => '40px', :height => '40px'}
        %li.comments
          %img{:src => '/assets/comment-x-g.png', :width => '40px', :height => '40px'}


= content_for(:comments_dropdown) do

  - if params[:controller] == 'story_viewer'
    .commentsDropdown.hidden
      .comments
        - @story.comments.each do |comment|
          .comment
            %img.photo{ :src => user_avatar(comment.user), :height => '32px', :weight => '32px'}
            %a.author{ :href => "/#{comment.user.username}" }= comment.user.username
            %span.text= comment.content
            %p.timestamp= "posted " + time_ago_in_words(comment.created_at) + " ago"

      .leaveComment
        %textarea{ :rows => 5, :cols => 47}
        %br
        %a.roundedButton{ :href => '#' } Post Comment

  :javascript
    $(document).ready(function() {
      $('.commentsDropdown .comments').jScrollPane()
    });
