= content_for(:title) do
  = "#{@user.name} on Brwnppl"

#content
  .profile
    
    .content
      %p= render partial: 'shared/flash_messages'

      .profileBox
        = image_tag user_avatar(@user, :height => 150, :width => 125, :crop => :thumb), :class => 'profilePhoto'
        %h2= "#{@user.name} (#{@user.brownie_points})"
        %br
        = "short user bio here"

      .profileActions
        - if current_user == @user
          %p
        - elsif current_user.following?(@user)
          %a{:href => "/users/#{@user.username}/unfollow"}= "Unfollow"
        - else
          %a{:href => "/users/#{@user.username}/follow"}= "Follow"

      .clear

  #container
    = render partial: 'shared/stories', :locals => { :stories => @user.stories.latest.first(30)}