= content_for(:title) do
  = "#{@user.name} on Brwnppl"

#content
  .profile
    
    .content
      %p= render partial: 'shared/flash_messages'

      .profileBox
        = image_tag user_avatar(@user, :height => 150, :width => 125, :crop => :thumb), :class => 'profilePhoto'
        %h2= "#{@user.username} (#{@user.brownie_points})"
        %br
        = @user.bio

      .profileActions
        - if current_user == @user
          %p
        - elsif current_user.following?(@user)
          %a{:href => "/users/#{@user.username}/unfollow"}
            %img{ :src => "/assets/remove-from-brwnppl.png", :height => 40}
        - else
          %a{:href => "/users/#{@user.username}/follow"}
            %img{ :src => "/assets/add-to-brwnppl.png", :height => 40}

      .clear

  #container
    = render partial: 'shared/stories', :locals => { :stories => @user.stories.latest.page(params[:page])}