= content_for(:title) do
  = "#{@user.name} on Brwnppl"

#content
  .profile
    
    .content

      .profileBox
        = image_tag user_avatar(@user, :height => 150, :width => 125, :crop => :thumb), :class => 'profilePhoto'
        / - present @user do |user_presenter|
        /   = user_presenter.avatar(:large)
        %h2= @user.name
        
        = "jasdeep singh"

      .profileActions
        %a{:href => '#'}= "Follow"
        %br
        %a{:href => '#'}= "Subscribe"
        %br
        %a{:href => '#'}= "Ignore"
        %br

      .clear

  #container
    = render partial: 'shared/stories', :locals => { :stories => @user.stories}