= content_for(:title) do
  = "#{@user.username} on Brwnppl"

#content
  .profile
    
    .content
      %p= render partial: 'shared/flash_messages'

      .profileBox
        = image_tag user_avatar(@user, :height => 150, :width => 125, :crop => :thumb), :class => 'profilePhoto'
        %h2= "#{@user.username} (#{@user.brownie_points} brownie points)"
        %br
        = @user.bio

      .profileActions
        - if current_user && current_user == @user
        - elsif current_user && current_user.following?(@user)
          %a{ :href => "/users/#{@user.username}/unfollow"}
            %p= "Remove from My brwnppl"
          / %a{:href => "/users/#{@user.username}/unfollow"}
          /   %img{ :src => "/assets/remove-from-brwnppl.png", :height => 40}
        - elsif current_user.present?
          %a{ :href => "/users/#{@user.username}/follow"}
            %p= "Add to My brwnppl"
          / %a{:href => "/users/#{@user.username}/follow"}
          /   %img{ :src => "/assets/add-to-brwnppl.png", :height => 40}
        %p= "#{@user.followers.count} followers"
        %p= "#{@user.followed_users.count} following"


      .clear

  #container
    = render partial: 'shared/stories', :locals => { :stories => @user.stories.latest.page(params[:page])}