.post{ 'data-story-id' => story.id, 'data-content-type' => story.content_type }
  .ribbon-front
    %a.thumb_up{ :href => '#', :title => "#{already_liked(current_user, story)}" }
      %span.icon.details.thumb
    %span
      = story.brownie_points
    %a.thumb_down{ :href => '#', :title => "#{already_downvoted(current_user, story)}" }
      %span.icon.details.thumb
  .postThumbnail
    %a{ :href => '#' }
      - if story.image.present?
        %img{ :src => story.image }
      - elsif story.content_type == 'discussion'
        %img{ :src => '/assets/discussions-default.png'}
      - else
        %img{ :src => '/assets/default-story-image.png'}

  .postContent
    %h2
      %a{ :href => "story/" + story.slug }
        = story.title

    .clear

    .postDetails
      %a{ :href => '#'}
        = image_tag story.content_type + '.png', :height => '16px'
      %a.comments_{ :href => '#' }
        %span.icon.details.comments
        = story.comments_count
      / TODO - REShare 
      / %a.repost_{ :href => '#', :title => "#{reshare_allowed?(current_user)}" }
      /   %span.icon.details.repost
      /   = story.reshare_count
      - if current_user && story.user == current_user
        = link_to 'X (Delete)', api_story_path(story), :confirm => 'Are you sure?', :method => :delete
      %a= "posted #{time_ago_in_words(story.created_at)} ago in"
      %a{ :href => "/b/#{story.community.slug}", :style => 'font-weight: bold;' }= "#{story.community.name}"
      %a= "by"
      %a{ :href => "/#{story.user.username}", :style => 'font-weight: bold;' }= "#{story.user.username}"
      %a.report_abuse{ :href => '/', :title => 'Report Abuse' }
        %img{ :src => '/assets/report_abuse.png', :height => '12px'  }

  .clear