.ribbon
  .posts
    - unless stories.present?
      .post
        %h2 No Stories Posted on Brwnppl Yet!
    - else
      - stories.each do |story|

        .post{ 'data-story-id' => story.id }
          .ribbon-front
            %span
              = story.user.brownie_points

          .postUser
            %img{ :src => story.user.avatar }

          .postContent
            %a.postUsername{ :href => story.user.username }
              = story.user.name
            %br
            %h2
              %a{ :href => "story/" + story.slug }
                = story.title

            .clear

            .postDetails
              %a.thumb_{ :href => '#' }
                %span.icon.details.thumb
                = story.likes_count
              %a.comments_{ :href => '#' }
                %span.icon.details.comments
                = story.comments_count
              %a.repost_{ :href => '#' }
                %span.icon.details.repost
                = "255"
              - if current_user && story.user == current_user
                = link_to 'X (Delete)', api_story_path(story), :confirm => 'Are you sure?', :method => :delete

          .postThumbnail
            %a{ :href => '#' }
              %img{ :src => story.image }

          .clear

:javascript
  $('.postContent h2, .postContent .postDetails a.comments_, .postThumbnail').click(function(event) {
    event.preventDefault()
    story_id = $(event.target).closest('.post').data('story-id')
    story_viewer = new Brwnppl.StoryViewer(story_id)
    story_viewer.init()
  });

  $('.postContent .postDetails a.thumb_').click(function(event) {
    event.preventDefault()
    story_id = $(event.target).closest('.post').data('story-id')
    story = new Brwnppl.StoryController(story_id)
    story.like($(this))
  });