.ribbon
  .posts
    - unless stories.present?
      .post
        %h2 No Stories Posted on Brwnppl Yet!
    - else
      - stories.each do |story|
        .post
          
          .postUser
            %img{ :src => story.user.avatar }

          .postContent{ 'data-story-id' => story.id }
            %a.postUsername{ :href => story.user.username }
              = story.user.name
            %br
            %h2
              %a{ :href => "story/" + story.slug }
                = story.title

            .clear

            .postDetails
              %a{ :href => '#' }
                %span.icon.details.thumb
                = story.likes_count
              %a{ :href => '#' }
                %span.icon.details.comments
                = story.comments_count
              %a{ :href => '#' }
                %span.icon.details.repost
                = "255"

          .postThumbnail
            %a{ :href => '#' }
              %img{ :src => story.image }

          .clear

:javascript
  $('.postContent h2').click(function(event) {
    event.preventDefault()
    story_id = $(event.target).closest('.postContent').data('story-id')
    story_viewer = new Brwnppl.StoryViewer(story_id)
    story_viewer.init()
  });