.ribbon
  = render :partial => 'shared/story_sorter'

  .posts
    - unless stories.present?
      .post
        %h2 No Stories Posted here yet!
    - else
      - stories.each do |story|

        .post{ 'data-story-id' => story.id, 'data-content-type' => story.content_type }
          .ribbon-front
            %a.thumb_up{ :href => '#' }
              %span.icon.details.thumb
            %span
              = story.brownie_points
            %a.thumb_down{ :href => '#' }
              %span.icon.details.thumb

          .postUser
            %img{ :src => story.user.avatar }
            %a.postUsername{ :href => story.user.username }
              = story.user.username

          .postContent
            %h2
              %a{ :href => "story/" + story.slug }
                = story.title

            .clear

            .postDetails
              %a.comments_{ :href => '#' }
                %span.icon.details.comments
                = story.comments_count
              %a.repost_{ :href => '#' }
                %span.icon.details.repost
                = "255"
              - if current_user && story.user == current_user
                = link_to 'X (Delete)', api_story_path(story), :confirm => 'Are you sure?', :method => :delete
              %a= "posted #{time_ago_in_words(story.created_at)} ago"

          .postThumbnail
            %a{ :href => '#' }
              - if story.image
                %img{ :src => story.image }

          .clear

:javascript
  $('.postContent h2, .postContent .postDetails a.comments_, .postThumbnail').click(function(event) {
    event.preventDefault()
    story_id = $(event.target).closest('.post').data('story-id')
    story_viewer = new Brwnppl.StoryViewer(story_id)
    story_viewer.init()
  });

  $('.post .ribbon-front a.thumb_up').click(function(event) {
    event.preventDefault()
    story_id = $(event.target).closest('.post').data('story-id')
    story = new Brwnppl.StoryController(story_id)
    story.like($(this))
  });

  $('.post .ribbon-front a.thumb_down').click(function(event) {
    event.preventDefault()
    story_id = $(event.target).closest('.post').data('story-id')
    story = new Brwnppl.StoryController(story_id)
    story.dislike($(this))
  });