.ribbon
  = render :partial => 'shared/story_sorter'

  .posts
    - unless stories.present?
      .post
        %h2 No Stories Posted here yet!
    - else
      - stories.each do |story|
        = render partial: 'shared/single_story', :locals => { :story => story}
  %br

  %p 
    = link_to_previous_page stories, 'Previous Page'
    = " "
    = link_to_next_page stories, 'Next Page'

= render partial: 'shared/stories_javascript'