.ribbon
  = render :partial => 'shared/story_sorter'
  = render :partial => 'shared/top_sorter' if params[:action] == 'top'

  .posts
    - unless stories.present?
      .post
        %h2 No Stories Posted here yet!
    - else
      - stories.each do |story|
        = render partial: 'shared/single_story', :locals => { :story => story}
  %br

  %p 
    = link_to_previous_page stories, 'Previous Page', :params => {:time => params[:time]}
    = " "
    = link_to_next_page stories, 'Next Page', :params => {:time => params[:time]}