= content_for(:title) do
  = "Brwnppl | #{@community.try(:name) || params[:action].humanize}"

#content
  .content
    = render partial: 'shared/flash_messages'
    = render partial: 'shared/sharer'

  .clear
  #container
    = render partial: 'shared/stories', :locals => { :stories => @stories }