= content_for(:title) do
  = "Brwnppl | #{@community.try(:name) || params[:action].capitalize}"

#content
  .content
    = render partial: 'shared/flash_messages'
    = render partial: 'shared/sharer'

  #container
    = render partial: 'shared/stories', :locals => { :stories => @stories }