= content_for(:head) do
  %meta{:property => "fb:app_id", :content => ENV['FACEBOOK_APP_KEY']  }
  %meta{:property => "og:type",   :content => "brwnppl:story"          }
  %meta{:property => "og:url",    :content => @story.public_url        }
  %meta{:property => "og:title",  :content => @story.title             }
  %meta{:property => "og:image",  :content => @story.fb_image          }

= content_for(:title) do
  = "Brwnppl | #{@story.title}"

.container
  #app-root

    #story
      %h2
        %a{ :href => "story/" + @story.slug }= @story.title

    .row-fluid
      .span6
        %a{ :href => '#fake', :class => 'btn btn-huge btn-block btn-social-facebook'}
          %i.fui-facebook
            Share on Facebook

      .span6
        %a{ :href => '#fake', :class => 'btn btn-huge btn-block btn-social-twitter'}
          %i.fui-twitter
            Share on Twitter
/ #content
/   #container
/     .ribbon
/       .posts
/         