= content_for(:head) do
  %meta{:property => "fb:app_id", :content => ENV['FACEBOOK_APP_KEY']  }
  %meta{:property => "og:type",   :content => "brwnppl:story"          }
  %meta{:property => "og:url",    :content => @story.public_url        }
  %meta{:property => "og:title",  :content => @story.title             }
  %meta{:property => "og:image",  :content => @story.fb_image          }

= content_for(:title) do
  = "#{@story.title} | Brwnppl"

#pagination.pagination.pagination-success
#app-root

  #story
    %h2
      %a{ :href => "story/" + @story.slug + "#disqus_thread" }= @story.title
      %a{ :href => @story.url, 'data-bypass' => true, target: '_blank'}
        %span.fui-link

    %h5
      posted by
      %a{:href => "/#{@story.user.username}"}= "#{@story.user.username}"
      = "#{time_ago_in_words(@story.created_at)} ago"

  .row-fluid#storyGrid
    .span8#storyPreview
      :javascript
        title = "#{@story.title.html_safe.gsub(/\n/, '</br>').gsub(/"/, '&quot;')}"
        preview = new Brwnppl.Views.StoryPreview({id: "#{@story.id}", url: "#{@story.url}", title: title })
        preview.render()
      
      .row{ :style => 'padding-top: 20px'}
      = render partial: "shared/disqus"

    .span4
      .row{ :style => 'padding-top: 10px'}
      - if current_user && @story.likers.include?(current_user)
        %a{ :href => "/story/#{@story.slug}", :class => 'btn btn-huge btn-block' }
          %i.fui-check
            You like this!
      - elsif !current_user
        %a{ 'data-bypass' => true, 'data-toggle' => 'modal', :href => '/#login', :class => 'btn btn-huge btn-block', }
          %i.fui-heart
            Like Story
      - else
        %a{ :href => "/story/#{@story.slug}", :class => 'btn btn-huge btn-block', :id => 'likeButton' }
          %i.fui-heart
            Like Story

      %a{ :href => @story.facebook_share_link, :class => 'btn btn-huge btn-block btn-social-facebook', 'data-bypass' => true}
        %i.fui-facebook
          Share on Facebook

      %a{ :href => @story.twitter_share_link, :class => 'btn btn-huge btn-block btn-social-twitter', 'data-bypass' => true}
        %i.fui-twitter
          Share on Twitter

      .row-fluid#suggestedStories{ :style => 'padding-top: 20px'}
        - ids = Story.pluck('id').sample(4)
        - ids.each do |id|
          - story = Story.find(id)
          .alert.alert-info
            %h6
              %a{ :href => "/story/" + story.slug, 'data-bypass' => true}= story.title
            %img.side-thumbnail{ :src => story.image_link }
