= form_for @user, :html => { :class => 'form current', :id => 'ajax_post' } do |f|
  .toolbar
    %a.left_button{ :href => '/', :rel => 'external' } Home
    %h1 Setup Account

  - if @user.errors.present?
    %ul.plastic.scroll
      - @user.errors.full_messages.each do |msg|
        %li
          %a{:href => '#'}= msg

  .scroll 
    %ul.edit.round
      %li
        = f.text_field :username, :placeholder => "username", :value => @user.username.present? ? @user.username : nil

      %li.field
        = f.email_field :email, :disabled => true

      %li.field
        = f.text_area :bio, :placeholder => "short bio", :rows => 4

      %li.field
        = f.select :account_type, [['- Select Account Type -', ''], ['Personal', 'personal'], ['Business', 'business']]
      %li
        = f.check_box :share_activity_on_facebook, :checked => true, :title => 'Share Activity on Facebook'
        = f.hidden_field :id

    %a.submit.whiteButton#update_account{ :href=> '#' } Update Account