= content_for(:title) do
  = "Brwnppl | Account Setup"
= javascript_include_tag "http://connect.facebook.net/en_US/all.js"

:javascript
  FB.init({
    appId: #{ENV['FACEBOOK_APP_KEY']}, 
    cookie: true,
    status: true, 
    xfbml: true
  });

  function shareWithFacebook() {
    FB.ui({ 
      method: 'apprequests',
      message: 'Invite your friends to Brwnppl and earn some brwni points!',
      title: 'Invite your friends over to Brwnppl!',
      max_recipients: 5
    }, requestCallback);
  }

  function requestCallback(response) {
    notification = new Brwnppl.Notification('Success! Way to go!', ['Successfully Sent Invitations to your friends!']);
    notification.display();
  }

#content
  .content

    .setupAccount
      .header
        %h1 Welcome to Brwnppl

      .social_banner.facebook
        %h2 Connected as #{current_user.name}

      - if @user.errors.present?
        .alert.alert-error
          %h4 Uh-oh! You mind fixing a few details?
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      #CompletePhoto
        .frame
          %img{ :src => user_avatar(current_user), :width => "100%", :height => "223px" }
        .buttons

          = label_tag "Edit Profile Picture", "Edit Profile Picture", :id => 'profile_upload', :class => 'Button WhiteButton Button13 ContrastButton upload'

      = form_for @user, :html => { :class => 'RegisterForm', :id => "CompleteAccount" } do |f|
        %ul.fields
          %li.field
            = f.text_field :username, :placeholder => "username", :value => @user.username.present? ? @user.username : nil

          %li.field
            = f.email_field :email, :disabled => true

          %li.field
            = f.text_area :bio, :placeholder => "short bio", :rows => 4

          %li.field
            = f.select :account_type, [['- Type of Account -', ''], ['Personal', 'personal'], ['Business', 'business']]

            .hidden
              %input#profile_image_fileupload{ :type => 'file', :name => 'image', 'data-url' => "/api/images/upload", 'data-type' => 'POST' }

          - if @user.can_publish_action_to_facebook?
            %li
              .follow_friends.facebook
                = f.check_box :share_activity_on_facebook, :checked => true
                = f.label :share_activity_on_facebook, "Share my Brwnppl activity on Facebook"
            
                %a{:href => '#', :onclick => 'shareWithFacebook()'} Invite Friends from Facebook

            %li
              .follow_friends.facebook
                = f.check_box :video_shared, :checked => true
                = f.label :video_shared, "Two thumbs are better than one. Share our intro video & we'll double your voting power in the community. <a class=\"tooltip\" href=\"#\" title=\"To thank you for helping us build the Brwnppl community, we're giving you an extra thumb to increase your voting power. Now you have the ability to vote either one or two thumbs up on every post.\" >(learn more)</a>".html_safe

          = f.hidden_field :id
          - if @user.facebook?
            = f.hidden_field :avatar, :value => large_facebook_avatar(current_user)

          %li
            :plain
              <iframe width="342" height="192" src="http://www.youtube.com/embed/8V8b4qgGEY0" frameborder="0" allowfullscreen></iframe>

        .terms
          By creating an account, I accept Brwnppl's 
          = link_to "User Agreement", user_agreement_path
          = " and "
          = link_to "Privacy Policy", privacy_policy_path

        .buttons
          %button.Button.WhiteButton.Button13.ContrastButton Update Account
          %span.hidden
            %img.loader{ :src => "/assets/loader.gif", :style => 'float: left' }